@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Sidebar overlay styling for mobile */
@media (max-width: 767.98px) {
  .sidebar-overlay {
    background-color: rgba(0, 0, 0, 0.5) !important;
    cursor: pointer !important;
    z-index: 1037 !important;
  }
}

